footer {
    display: flex;
}

.textFooter {
    color: white;
    background-color: black;
    text-align: center;
    font-family: var(--protest-revolution);
    font-size: 1.2em;
    margin: auto;
}


@media screen and (min-width: 700px) {
    .textFooter {
        margin-top: 1em;
    }
}


@media screen and (min-width: 1200px) {
    .textFooter {
        margin-top: 5em;
    }
}