.divTitle {
    display: flex;
    margin-top: 2em;
}

.title {
    color: white;
    background-color: black;
    margin: auto;
    font-size: 2em;
    padding: 0.2em;
    font-family: var(--protest-revolution);
}


@media screen and (min-width: 700px) {
    .title {
        font-size: 4em;
        margin: auto;
    }
}


@media screen and (min-width: 1200px) {
    .title {
        font-size: 4em;
        margin: auto;
    }
}